body {
  font: 14px/1.6 "Pretendard", "Apple SD Gothic Neo", "맑은 고딕",
    "Malgun Gothic", Helvetica, Arial, sans-serif;
  color: #444;
  background: #fff;
}

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMYEONSUNG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* .containers {
  max-width: 700px;
  max-height: 500px;
  display: flex;
  gap: 150px;
  position: relative;
  top: 100px;
  left: 120px;
}

.containers img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);

  transform-origin: center;
  transform: perspective(800px) rotateY(17deg);
  transition: 0.5s;
}

.containers:hover img {
  opacity: 0.5;
}

.containers img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
} */

.programDetailBox {
  order: -1;
}

.programTitleBox {
  margin: 30px 0 10px;
}

h4.evade {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.programTitleBox h3 {
  font-size: 36px;
  margin-bottom: 0;
}

h3 {
  color: #123;
  font-family: BMYEONSUNG;
  line-height: 1.4;
}

.programTitleBox .meta {
  font-size: 14px;
}

.programTitleBox .meta em {
  font-style: normal;
  font-weight: 700;
  margin-right: 10px;
  color: #174c88;
}

.programSummary {
  margin: 40px 0;
  padding: 10px 30px px;
  border-left: 1px solid #ddd;
}

.programSummary .coach {
  overflow: hidden;
}

.programSummary .coach img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.programSummary .coach strong {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

.programSummary .coach span {
  font-size: 12px;
  color: #888;
}

.programSummary .summary {
  margin: 20px 0;
}

.programSummary .summary h5 {
  font-size: 24px;
  font-family: BMYEONSUNG;
  line-height: 34px;
  color: #111;
  margin-bottom: 30px;
}

.programSummary .summary span {
  display: block;
}

.programSummary .summary b {
  font-family: Cafe24Ohsquare;
}

.programSummary .summary h6 {
  font-size: 18px;
  line-height: 26px;
  color: #111;
}

.programSummary .summary em {
  font-style: normal;
  color: #7266d3;
}

.programDetailBox .provide {
  margin: 100px 0 50px;
}

.programDetailBox .provide h5 {
  font-size: 14px;
  font-weight: 600;
  color: #174c88;
  margin: 0 0 15px;
}

.programDetailBox .provide .row {
  margin: 0 -5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.programDetailBox .provide .row .col {
  padding: 0 5px;
}

.programDetailBox .provide .provideItem {
  text-align: center;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}

.programDetailBox .provide .provideItem strong {
  color: #123;
  font-size: 16px;
  font-family: Cafe24Ohsquare;
  display: block;
  margin: 10px 0;
  line-height: 1;
}

.programDetailBox .provide .provideItem small {
  font-size: 12px;
  color: #888;
  display: block;
  line-height: 1.4;
}

.contentsWrap section {
  padding: 40px 0 0;
  margin: 0 0 40px;
}

.programDetailBox h6.key {
  font-family: Cafe24Ohsquare;
  font-size: 24px;
  color: #111;
}

.contentsWrap .sc ul {
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

.contentsWrap .sc ul li {
  color: #555;
  font-size: 15px;
  line-height: 1.8;
  margin-left: 20px;
  list-style: disc;
}

li {
  margin: 0;
  padding: 0;
  /* list-style: square; */
}

.contentsWrap section p {
  color: #444;
  font-size: 15px;
  line-height: 1.8;
}

.miniFAQ2 {
  margin: 50px 0;
  padding: 50px 0;
}

h4.face {
  font-size: 24px;
  font-family: Cafe24Ohsquare;
  color: #123;
  margin-bottom: 30px;
}

.miniFAQ2 li i {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 25px;
  top: 25px;
}

.miniFAQ2 li .answer {
  padding: 10px 15px 15px 35px;
  margin: 0 -15px -15px;
  background: #ddc2f3;
  border-radius: 50px;
}
