body {
  font: 14px/1.6 "Pretendard", "Apple SD Gothic Neo", "맑은 고딕",
    "Malgun Gothic", Helvetica, Arial, sans-serif;
}

/* .containers {
  max-width: 700px;
  max-height: 500px;
  display: flex;
  gap: 150px;
  position: relative;
  top: 100px;
  left: 120px;
}

.containers img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);

  transform-origin: center;
  transform: perspective(800px) rotateY(17deg);
  transition: 0.5s;
}

.containers:hover img {
  opacity: 0.5;
}

.containers img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
} */

.programDetailBox {
  order: -1;
}

.col-lg-7 {
  display: block;
  box-sizing: border-box;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.programTitleBox {
  margin: 30px 0 10px;
  display: block;
  box-sizing: border-box;
}

h4.evade {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.programTitleBox h3 {
  font-size: 36px;
  margin-bottom: 0;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #123;
  font-family: Cafe24Ohsquare_air;
  line-height: 1.4;
}

.programTitleBox .meta {
  font-size: 14px;
  display: block;
}
