* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #a9bdce;
  flex: 1;
  padding: 0.5rem;
}

.display-container {
  flex: 12;
  background: #b2c7d9;
  overflow-y: scroll;
}

.input-container {
  flex: 1;
}

.user-data {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0.5rem;
}

#userid {
  width: 100px;
  border-radius: 7px;
  border: none;
}

#roomchat {
  font-size: 12px;
  height: 90%;
  width: 60%;
  border: none;
}

#room1 {
  width: 17%;
  height: 90%;
  border-radius: 5px;
}

#room1-send {
  width: 17%;
  height: 90%;
  border-radius: 5px;
  background: #ffeb33;
}
