<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/Allfirst.css">
        <%- include('../partials/head') %>
      </head>

      <body>
        <%- include('../partials/nav') %>
        
          <!-- <div class="containers">
          <img src="/imgs/a8.png" alt="A8" />
          <img src="/imgs/a7.png" alt="A7" />
          </div> -->

          <div class="col-lg-7 programDetailBox">

            <div class="programTitleBox">
              <h4 class="evade">턱걸이</h4>
              <h3 id="text-class-title">턱걸이와 친해지기</h3>
              <div class="meta">
                <em class="period">2주 / 주3회 / 20분</em>
              </div>
            </div>

            <div class="programSummary">
              <div class="coach">
                <img class="profilePic" src="/imgs/b2.png" alt="B2" />
                <strong>운동 좋아!</strong>
                <span>동기부여</span>
              </div>
              <div class="summary">
                <h5>
                  <span>
                    <b>초급자</b>
                    분들을 위한
                  </span>
                  <span>
                    <b>턱걸이</b>
                     프로그램입니다.
                  </span>
                </h5>
                <h6>
                  <span>
                    <b>턱걸이 담당</b>
                    코치는
                    <em>동기부여</em>
                    가 장점이에요~
                  </span>
                  <span>
                    <em>끝까지 포기하지 않고 운동할 수 있게</em>
                    만들어드려요!
                  </span>
                </h6>
              </div>
            </div>

            <div class="provide">
              <h4 class="evade">프로그램 제공</h4>
              <h5>커리큘럼</h5>
              <div class="row">
                <div class="col col-md-4">
                  <div class="provideItem">
                    <img src="/imgs/q1.png" alt="Q1" />
                    <strong>2주 운동 플랜</strong>
                    <small>
                      <span>맞춤</span>
                      <span>운동 플랜과 워크아웃</span>
                    </small>
                  </div>
                </div>
                <div class="col col-md-4">
                  <div class="provideItem">
                    <img src="/imgs/q2.png" alt="Q2" />
                    <strong>총 6회 운동</strong>
                    <small>
                      <span>회차별</span>
                      <span>맞춤 운동 루틴</span>
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="contentsWrap">
              <section>
                <div class="sc">
                  <h4 class="evade">대상</h4>
                  <h6 class="key">초급</h6>
                  <div>
                    <ul>
                      <li>
                        <strong>턱걸이 효과</strong>
                        를 제대로 느껴보고 싶으신 분들
                      </li>
                      <li>
                        집에서
                        <strong>간단한 코어운동</strong>
                        을 배우고 싶으신 분들
                      </li>
                      <li>
                        턱걸이의 기초를 익히고 싶은
                        <strong>입문자분들</strong>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
              <section>
                <div class="sc">
                  <h4 class="evade">목표</h4>
                  <h6 class="key"> 코어 강화,체형 교정,체력 향상 </h6>
                  <div>
                    <p>
                      턱걸이의
                      <strong>기본기</strong>
                      를 익히자!
                    </p>
                    <p>
                      수업에 들어가기전 반드시 알고 가야하는
                      <strong>핵심</strong>
                      만 쏙쏙 알려드려요!
                      <br>
                      1주 3회 20분 구성으로 단,
                      <strong>2주</strong>
                      만에 전반적인
                      <strong>턱걸이의 기초</strong>
                      를 배울 수 있습니다 :)
                    </p>
                  </div>
                </div>
              </section>
            </div>

            <div class="miniFAQ2">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7">
                    <h4 class="face">자주 묻는 질문</h4>
                    <ul>
                      <li>
                        <!-- <a href="#" class> -->
                          <!-- <b>Q.</b> -->
                          운동 일지는 어떻게 작성하나요?
                          <!-- <i class>
                            <span class="bar2"></span>
                          </i> -->
                        <!-- </a> -->
                        <div class="answer" style="display: block;">
                          <!-- <i>A.</i> -->
                          <b>자유롭게 기록</b>
                          하세요!
                          <br>
                          운동량, 자세, 식당 등을 기록하세요. 
                          <br>
                          운동하면서 느낀 점이나 궁금했던 점을 작성하면 더욱 좋습니다.
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

      </body>
    </html>












