<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/firstone.css">
    <%- include('../partials/head') %>
  </head>

<body>
    <%- include('../partials/nav') %>
    
      <div class="containers">
      <img src="/imgs/a8.png" alt="A8" />
      <img src="/imgs/a7.png" alt="A7" />
      </div>
    
        <div class="row justify-content-between">
          
          <div class="col-lg-7 programDetailBox">
            <div class="programTitleBox">
              <h4 class="evade">필라테스</h4>
              <h3 id="text-class-title">필라테스와 친해지기</h3>
              <div class="meta">
                <em class="period">2주 / 주3회 / 20분</em>
              </div>
            </div>
            <div class="provide">
              <div class="row">
                <!-- <h5>맞춤 커리큘럼</h5> -->
                <div class="col col-md-4">
                  <div class="provideItem">
                    <img src="/imgs/life.png" alt="L1" />
                    <strong>2주 운동 플랜</strong>
                    <small>
                      <span>맞춤</span>
                      <span>운동 플랜과 워크아웃</span>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="programHeader">
              <div class="box price">

                <div class="discountedPrice">
                  <strong>할인가</strong>
                    <em class="discountRate">50%</em>
                      <span class="price">
                        <span class="commify">50,000</span>
                          <small>원</small>
                        </span>
                <del class="orgPrice commify">100,000</del>
                </div>
              
              <div class="remaining">
                <span class="remain">
                  남은자리 :
                    <span class="commify">0</span>
                </span>
              </div>

              <a class="btnPurchase" href="#">신청하기</a>
                
              </div>
            </div>
          </div>

        </div>

</body>
</html>











