<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <!-- <ul class="rowbox">
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="thumHolder">
          <img src="/imgs/a1.png" alt="A1">
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="thumHolder">
          <img src="/imgs/a2.png" alt="A2">
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="thumHolder">
          <img src="/imgs/a3.png" alt="A3">
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="thumHolder">
          <img src="/imgs/a4.png" alt="A4">
        </div>
      </div>

    </ul> -->

  </body>
</html>





