<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/firstone.css">
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="col-lg-8">
    <img src="/imgs/a5.png" class="previewImgsHead" alt="A5" />
    </div>
  </body>
</html>











