<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="firstpage">
      <img src="/imgs/a1.png" alt="A1">
    </div>

  </body>
</html>