<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/making.css">
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="programALL">
      <h3>
        <span>
          <b>No-Touch-Fitness</b>
        </span>
        <span>온라인 PT 😊</span>
      </h3>
    </div>

    <div class="prmmid">
      <h4>이런 프로그램은 어때요?</h4>
      <p>나에게 맞는 운동을 찾아보세요!</p>
    </div>

    <ul class="cardss">

      <li>
        <a href="/onlinept/makingone" class="cards">
          <img src="/imgs/a5.png" class="cards__image" alt="A5" />
          <div class="cards__overlay">
            <div class="cards__header">                    
              <img class="cards__thumb" src="/imgs/b1.png" alt="B1" />
              <div class="cards__header-text">
                <h3 class="cards__title">필라테스</h3>            
                <span class="cards__status">홈 트레이닝</span>
              </div>
            </div>
            
            <div class="price">
              <del>
                  <i class="commify">
                      100,000원
                  </i>
              </del>
                   <b>50% off</b>
              <div class='strong'>
                  <i class="commify">
                      50,000원
                  </i>
              </div>
              <span class='remaining'>
                      남은 자리:
                  <i class='commify'>
                      0
                  </i>
              </span>
          </div>

          </div>
        </a>      
      </li>   

      <li>
        <a href="/onlinept/makingtwo" class="cards">
          <img src="/imgs/a2.png" class="cards__image" alt="A2" />
          <div class="cards__overlay">        
            <div class="cards__header">                
              <img class="cards__thumb" src="/imgs/b2.png" alt="B2" />
              <div class="cards__header-text">
                <h3 class="cards__title">스쿼트</h3>
                <span class="cards__status">홈 트레이닝</span>
              </div>
            </div>
            
            <div class="price">
              <del>
                  <i class="commify">
                      90,000원
                  </i>
              </del>
                   <b>50% off</b>
              <div class='strong'>
                  <i class="commify">
                      45,000원
                  </i>
              </div>
              <span class='remaining'>
                      남은 자리:
                  <i class='commify'>
                      2
                  </i>
              </span>
          </div>

          </div>
        </a>
      </li>

      <li>
        <a href="/onlinept/makingthree" class="cards">
          <img src="/imgs/a3.png" class="cards__image" alt="A3" />
          <div class="cards__overlay">
            <div class="cards__header">                    
              <img class="cards__thumb" src="/imgs/b3.png" alt="B3" />
              <div class="cards__header-text">
                <h3 class="cards__title">턱걸이</h3>           
                <span class="cards__status">맨몸운동</span>
              </div>
            </div>
            
            <div class="price">
              <del>
                  <i class="commify">
                      70,000원
                  </i>
              </del>
                   <b>50% off</b>
              <div class='strong'>
                  <i class="commify">
                      35,000원
                  </i>
              </div>
              <span class='remaining'>
                      남은 자리:
                  <i class='commify'>
                      6
                  </i>
              </span>
          </div>

          </div>
        </a>
      </li>
       
    </ul>
  </body>
</html>











