<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/purchase_number.css">
        <%- include('../partials/head') %>
      </head>

      <body>
        <%- include('../partials/nav') %> 
      </body>
    </html>