<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/purchase_squat.css" />
    <%- include('../partials/head') %>
  </head>

  <body>
    <div class="titles">Teachable Machine Pose Model</div>

    <!-- 1. Start 버튼을 누르면 init() 함수가 실행된다. -->

    <button type="button" class="btn btn-outline-success" onclick="init()">
      시작하기</button
    ><button type="button" class="btn btn-outline-danger" onclick="finish()">
      멈추기
    </button>

    <div>
      <canvas id="canvas"></canvas>
    </div>

    <div id="label-container"></div>

    <div class="frame">
      <div>
        <div class="headline">
          <div>스쿼트 카운터</div>
        </div>
        <!--  -->
        <div class="circle-big">
          <div class="text">
            <!-- 28<div class="hits">개</div> -->
            <span id="Counter" class="counter">0</span>번
          </div>
          <svg>
            <circle class="bg" cx="57" cy="57" r="52"></circle>
            <circle class="progress" cx="57" cy="57" r="52"></circle>
          </svg>
        </div>
        <!--  -->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script type="text/javascript">
      // More API functions here:
      // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/pose

      // the link to your model provided by Teachable Machine export panel

      // const URL = "../my_model/";

      let model, webcam, ctx, labelContainer, maxPredictions;

      // 모델을 불러오고 loop 함수를 실행한다.
      async function init() {
        const modelURL = "/squat_model/model.json";
        const metadataURL = "/squat_model/metadata.json";

        // load the model and metadata
        // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
        // Note: the pose library adds a tmPose object to your window (window.tmPose)
        model = await tmPose.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        // Convenience function to setup a webcam
        const size = 650;
        const flip = true; // whether to flip the webcam
        webcam = new tmPose.Webcam(size, size, flip); // width, height, flip
        await webcam.setup(); // request access to the webcam
        await webcam.play();
        window.requestAnimationFrame(loop);

        // append/get elements to the DOM
        const canvas = document.getElementById("canvas");
        canvas.width = size;
        canvas.height = size;
        ctx = canvas.getContext("2d");
        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) {
          // and class labels
          labelContainer.appendChild(document.createElement("div"));
        }
      }

      // 3. 자신을 계속 호출한다. 웹캠을 업데이트하고 predict() 함수를 실행한다.
      async function loop(timestamp) {
        webcam.update(); // update the webcam frame
        await predict();
        window.requestAnimationFrame(loop);
      }

      // 4. 모델의 불러와서 결과를 뽑아낸 다음 클래스이름과 가능성을 문장으로 만들어서 html에 넣어준다.
      var status = "STAND";
      var count = 0;
      async function predict() {
        // Prediction #1: run input through posenet
        // estimatePose can take in an image, video or canvas html element
        const { pose, posenetOutput } = await model.estimatePose(webcam.canvas);
        // Prediction 2: run input through teachable machine classification model
        const prediction = await model.predict(posenetOutput);

        //
        // prediction[0] = 서있는 자세 -> stand
        // prediction[1] = 스쿼트 자세 -> squat
        // prediction[2] = 구부정한 자세 -> bent
        if (prediction[0].probability.toFixed(2) > 0.9) {
          if (status == "SQUAT") {
            count++;
            counterUp();
            var audio = new Audio("/mp3/" + (count % 10) + ".mp3");
            audio.play();
          }
          status = "STAND";
        } else if (prediction[1].probability.toFixed(2) > 0.9) {
          status = "SQUAT";
        } else if (prediction[2].probability.toFixed(2) > 0.9) {
          if (status == "SQUAT" || status == "STAND") {
            var audio = new Audio("/mp3/bent.mp3");
            audio.play();
          }
          status = "BENT";
        }
        //

        // 출력내용 : "클래스 이름 : 0.00 ~ 1.00"
        for (let i = 0; i < maxPredictions; i++) {
          const classPrediction =
            prediction[i].className +
            ": " +
            prediction[i].probability.toFixed(2);
          labelContainer.childNodes[i].innerHTML = classPrediction;
        }

        // finally draw the poses
        drawPose(pose);
      }

      function drawPose(pose) {
        if (webcam.canvas) {
          ctx.drawImage(webcam.canvas, 0, 0);
          // draw the keypoints and skeleton
          if (pose) {
            const minPartConfidence = 0.5;
            tmPose.drawKeypoints(pose.keypoints, minPartConfidence, ctx);
            tmPose.drawSkeleton(pose.keypoints, minPartConfidence, ctx);
          }
        }
      }

      /////////////////////////////////////////////////////////////////////////////////////
      var hits = 0;
      // var countElement = document.querySelector('.counter');
      var countElement2 = document.getElementById("Counter");

      document.body.onkeyup = function (e) {
        if (e.keyCode == 32) {
          addHit();
        }
      };

      var counterUp = function () {
        addHit();
      };

      var addHit = function () {
        hits++;
        renderHits();
      };

      var renderHits = function () {
        // countElement.innerHTML = hits;
        countElement2.innerHTML = hits;
      };

      var resetHits = function () {
        hits = 0;
        renderHits();
      };

      function finish() {
        webcam.pause();
      }

      /////////////////////////////////////////////////////////////////////////////////////
    </script>
  </body>
</html>
