<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket</title>
  </head>
  <body>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

    <input id="inputtext" />
    <div id="content"></div>
    <button id="send">Send Message</button>
    <button id="room1">채팅방1 입장</button>
    <button id="room1-send">채팅방1에서 메세지보내기</button>

    <script>
      const socket = io();

      $("#room1-send").click(function () {
        socket.emit("room1-send", "반가워 채팅방1");
      });

      $("#room1").click(function () {
        socket.emit("joinroom");
      });

      $("#send").click(function () {
        socket.emit("user-send", $("#inputtext").val());
      });

      socket.on("broadcast", function (data) {
        $("#content").append("<div>" + data + "<div>");
      });
    </script>
  </body>
</html>
