<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket</title>
  </head>
  <body>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

    <input id="roomchat" />
    <div id="plusroomchat"></div>
    <button id="room1">채팅방1 입장</button>
    <button id="room1-send">채팅방1에서 메세지보내기</button>

    <script>
      const socket = io();

      $("#room1").click(function () {
        socket.emit("joinroom");
      });

      $("#room1-send").click(function () {
        socket.emit("room1-send", $("#roomchat").val());
      });

      socket.on("broadcast", function (data) {
        $("#plusroomchat").append("<div>" + data + "<div>");
      });

      // io() ---> 웹소켓 접속
      // socket.emit(작명, 데이터) ---> 서버에게 웹소켓으로 메세지 보내기
      // 서버에서 보낸 데이터 수신 ---> socket.on(작명, 콜백함수)
    </script>
  </body>
</html>
