<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
      
      <!-- jumbotron -->
        <div class="jumbo">
          <h1 style="color: #493232;"><strong>No-Touch-Fitness</strong></h1><br><br>
          <h1 style="color: rgb(240, 178, 178);"><strong>당신의 홈트 파트너</strong></h1><br><br>         
          <h4 style="color: white;"><strong> < 집에서도 헬창이 될 수 있다 > </strong></h4>
        </div>

      <!-- 간단한 소개 -->
      <section id="간단한소개" class="section">
          <h3>AI, LIVE, CARE를 한번에! </h3><br>
          <h3>전문 트레이너, AI 코치와 함께하는 라이브 홈트! </h3><br>
          <h3>NO 헬스장! 집에서도! 혼자서도! 충분히 가능한 피트니스 서비스!</h3>
      </section>

      <section id="about" class="section">
        <h1>당신의 홈트레이닝 파트너 NoTouchFitness</h1>
        <div class="about__tech">
          
          <div class="tech">
            <div class="tech__icon">
            <i class="fas fa-home"></i></div>
            <h2 class="tech__title">Wherever</h2>
            <div class="tech__description">언제 어디서나 편리하게 즐길 수 있는!</div>
          </div>

          <div class="tech">
            <div class="tech__icon">
            <i class="far fa-thumbs-up"></i></div>
            <h2 class="tech__title">Fun</h2>
            <div class="tech__description">게임처럼재밌는!</div>
          </div>

          <div class="tech">
            <div class="tech__icon">
            <i class="fas fa-dumbbell"></i></div>
            <h2 class="tech__title">Efficient</h2>
            <div class="tech__description"> AI 실시간 자세교정을 통해 보다 효과적으로!</div>
          </div>

          <div class="tech">
            <div class="tech__icon">
            <i class="fas fa-child"></i></div>
            <h2 class="tech__title">PT</h2>
            <div class="tech__description">전문 트레이너와 함께!</div>
          </div>

        </div>

      </section>
      <!-- why -->
      <section id="why" class="section">
        <h1 style="margin-bottom: 20px;">WHY?</h1>
        <h2 style="margin-bottom: 20px;">당신이 운동을 해야하는 이유</h2>
        <p>
          빠른 인터넷의 보급화로인해 앉아서도 모든것이 다 되는 세상.그로 인해 현대인들의
          활동량은 적어지고 부정확한 자세로 장시간 오래 앉아있는 경우가 많습니다.<br>
          코로나로 인해 헬스장도 가기 힘들어 운동을 포기하고있는 당신께 NoTouchFitness가 도움을 드립니다.<br>
          이젠 집에서도 전문가의 도움을 받아 효율적인 운동을 해보세요.
        </p>
        <div class="whyset">
          <div class="whyset__left">
            <h3 class="whyset__title">바쁜 현대인들의 상황</h3>

            <div class="graph">
              <div class="graph__description">
                <span>코로나 시대 이후 운동을 안해본 사람</span>
                <span>74%</span>
              </div>
              <div class="why__bar">
                <div class="why__value" style="width: 74%;"></div>
              </div>
            </div>

            <div class="graph">
              <div class="graph__description">
                <span>홈트레이닝의 경험이 없는 사람</span>
                <span>82%</span>
              </div>
              <div class="why__bar">
                <div class="why__value" style="width: 82%;"></div>
              </div>
            </div>

            <div class="graph">
              <div class="graph__description">
                <span>헬스장에 가기 꺼려운 사람</span>
                <span>88%</span>
              </div>
              <div class="why__bar">
                <div class="why__value" style="width: 88%;"></div>
              </div>
            </div>

            <div class="graph">
              <div class="graph__description">
                <span>운동을 배우고 싶지만 금액이 부담스러운 사람</span>
                <span>92%</span>
              </div>
              <div class="why__bar">
                <div class="why__value" style="width: 92%;"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="why__card">
          <div class="why__box">
            <img src="/imgs/인공지능1.jfif">
          </div>
          <div class="why__box">
            <img src="/imgs/인공지능2.png">
          </div>
          <div class="why__box">
            <img src="/imgs/인공지능3.PNG">
          </div>
        </div>

        <script>
          $(window).on('scroll', function(){
            var cardheigh = $(window).scrollTop();
            console.log(cardheigh)
            var y = (-1/548) * cardheigh + 2748/548;
            $('.why__box').eq(0).css('opacity', y);
            var x = (-1/600) * cardheigh + 3348/600;
            $('.why__box').eq(1).css('opacity', x);
          });
        </script>
      </section>

      <!-- worry -->
      <section id="worry" class="section">
      <h2>당신의 홈트 고민 해결해드립니다!</h2>
      <div class="worry__problem">
        <div class="problem">
          <div class="problem__icon 비만"></div>
          <h3 class="worry__title">정말 살이 빠질 수는 있는 걸까요?</h3>
          <div class="worry__description">헬스파트너가 만든 전문 커리큘럼으로 체계적인 운동을 할 수 있어요</div>
        </div>

        <div class="problem">
          <div class="problem__icon 체형불균형"></div>
          <h3 class="worry__title">몸의 밸런스를 맞출 수 있을까요?</h3>
          <div class="worry__description">고객의 몸상태에 따라 운동의 종류와 강도를 상담받아 체형교정을 할 수 있어요 
          </div>
        </div>
        
        <div class="problem">
          <div class="problem__icon 홈트재밌게"></div>
          <h3 class="worry__title">정확한 자세를 취할 수 있을까요?</h3>
          <div class="worry__description">동작인식 A.I와 헬스파트너를 통해
            틀린 자세를 교정할 수 있어요.</div>
        </div>
      </div>
      </section>

      <section id="trainer" class="section">
        <div class="trainer">
          <div class="trainer__top">
            <h3>엄선된 전문 트레이너와</h3>
            <h3><strong>notouchfitness를 만나보세요</strong></h3>
          </div>
         <div>
          <div class="trainer__bottom">
            <div class="trainer__bottom__slidebox">
              <img src="/imgs/삼두.jpg">
              <div class="trainer__bottom__description">
                <h3>이규혁 트레이너</h3>
                <span>삼두 전문가</span>
              </div>
            </div>

            <div class="trainer__bottom__slidebox">
              <img src="/imgs/이두.jpg">
              <div class="trainer__bottom__description">
                <h3>이규혁 트레이너</h3>
                <span>이두 전문가</span>
              </div>
            </div>

            <div class="trainer__bottom__slidebox">
              <img src="/imgs/하체.jpg">
              <div class="trainer__bottom__description">
                <h3>이규혁 트레이너</h3>
                <span>하체 전문가</span>
              </div>
            </div>

            <div class="trainer__bottom__slidebox">
              <img src="/imgs/복근.jpg">
              <div class="trainer__bottom__description">
                <h3>이규혁 트레이너</h3>
                <span>복근 전문가</span>
              </div>
            </div>

            <div class="trainer__bottom__slidebox">
              <img src="/imgs/요가.png">
              <div class="trainer__bottom__description">
                <h3>이규혁 트레이너</h3>
                <span>요가 전문가</span>
              </div>
            </div>

            <div class="trainer__bottom__slidebox">
              <img src="/imgs/등근육.jfif">
              <div class="trainer__bottom__description">
                <h3>이규혁 트레이너</h3>
                <span>등근육 전문가</span>
              </div>
            </div>

            <div class="trainer__bottom__slidebox">
              <img src="/imgs/다이어트1.jpg">
              <div class="trainer__bottom__description">
                <h3>이규혁 트레이너</h3>
                <span>다이어트 전문가</span>
              </div>
            </div>
          </div>
          
          <button class="slide-next">next</button>
          <button class="slide-before">before</button>
        </div>
          <div class="slide-button">
          <button class="slide-1">1</button>
          <button class="slide-2">2</button>
          <button class="slide-3">3</button>
        </div>
          <script>
            var firsttrainerphoto = 1;
            $('.slide-1').click(function(){
              $('.trainer__bottom').css('transform', 'translateX(0vw)');
            });
            $('.slide-2').click(function(){
              $('.trainer__bottom').css('transform', 'translateX(-33vw)');
            });
            $('.slide-3').click(function(){
              $('.trainer__bottom').css('transform', 'translateX(-66vw)');
            });
            $('.slide-next').click(function(){
              $('.trainer__bottom').css('transform', 'translateX(-' +(firsttrainerphoto *3) +'0vw');
              firsttrainerphoto = firsttrainerphoto+1;
            });
            $('.slide-before').click(function(){
              if ( firsttrainerphoto ==2){
                $('.trainer__bottom').css('transform', 'translateX(0vw)');
                firsttrainerphoto = firsttrainerphoto-1;
              } else if ( firsttrainerphoto == 3) {
                $('.trainer__bottom').css('transform', 'translateX(-33vw)');
                firsttrainerphoto = firsttrainerphoto-1;
              }
              else if ( firsttrainerphoto == 4) {
                $('.trainer__bottom').css('transform', 'translateX(-63vw)');
                firsttrainerphoto = firsttrainerphoto-1;
              }
              else if ( firsttrainerphoto == 5) {
                $('.trainer__bottom').css('transform', 'translateX(-93vw)');
                firsttrainerphoto = firsttrainerphoto-1;
              }
              else if ( firsttrainerphoto == 6) {
                $('.trainer__bottom').css('transform', 'translateX(-123vw)');
                firsttrainerphoto = firsttrainerphoto-1;
              }
            });
          </script>
        </div>
        <div style="clear: both;"></div>
      </section>

      <section id="best" class="section">
        <h1>이달의 베스트 회원 후기</h1>
        <h3>비포/애프터를 확인해보세요!</h3>
        <div class="best">
          <div class="best__photo">
            <img src="/imgs/사람1.jpg" class="best__person">
            <div class="best__photo__speech">
              <strong><p>저는 비만이고 몸무게가 항상 많아서 몇년전부터 항상 고민이었어요.<br>다이어트를 계획해도 늘 실패하니깐
                제 방법이 잘 맞는지 확인할 수 가 없었고 자신감이 급격하게 떨어지더라구요.<br>그때 우연히 no-touch-fitness를
                알게되어서 반신반의 하면서 가입했는데 이게 왠걸..! 너무 효과가 좋은거 있죠.<br>우선 운동이 너무 재밌어요! 
                AI를 통해서 저의 세트수를 채우니깐 목표를 달성한 기분이 들어서 참 좋았어요.<br>백점만점에 백점드립니다
              </p></strong>
              <p class="best__photo__speech__name"><strong><span style="color: blueviolet">이규혁</span> 회원님</strong></p>
            </div>
          </div>
          <div class="best__photo">
            <img src="/imgs/사람2.jpg" class="best__person">
            <div class="best__photo__speech">
              <strong><p>후기글2
              </p></strong>
              <p class="best__photo__speech__name"><strong><span style="color: blueviolet">이규혁</span> 회원님</strong></p>
            </div>
          </div>
          <div class="best__photo">
            <img src="/imgs/사람3.jpg" class="best__person">
            <div class="best__photo__speech">
              <strong><p>후기글3
              </p></strong>
              <p class="best__photo__speech__name"><strong><span style="color: blueviolet">이규혁</span> 회원님</strong></p>
            </div>
          </div>
          <div class="best__photo">
            <img src="/imgs/사람4.jpg" class="best__person">
            <div class="best__photo__speech">
              <strong><p>후기글4
              </p></strong>
              <p class="best__photo__speech__name"><strong><span style="color: blueviolet">이규혁</span> 회원님</strong></p>
            </div>
          </div>
        </div>
      </section>
      
      <section id="contact" class="section">
        <div class="contact">
          <div class="contact__top">
          <div class="contact__left">NoTouchFitness</div>
          <div class="contact__center"><button class="contact__center__button">비즈니스/제휴문의</button></div>
          <div class="contact__right"><i class="fab fa-youtube"></i></div>
        </div>
          <div class="contact__bottom">
            <div class="contact__bottom__left">중부대학교 졸업작품</div>
            <div class="contact__bottom__right">서비스 이용약관</div>
          </div>
        </div>
      </section>
      <!-- 제이쿼리 -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </body>
</html>